<h1>Blog Posts</h1>
<% @posts.each do |post| %>
    <h3><%= link_to post.title.post %></h3>
    <p><%= post.body %></p>
<% end %>





<!--<h3>Sample Post One</h3>-->
<!--<p><%= @first_content %></p>-->
<!--<hr>-->
<!--<h3>Sample Post Two</h3>-->
<!--<p><%= @first_content %></p>-->
